/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
 body
  font-family: 'Cormorant Garamond', serif
  font-weight: 300
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50

.home .hero img
  max-width 450px!important

.btn
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #000
  color: #fff
  border-radius: 0.4rem
  box-sizing: border-box
  padding: 0.88em 1.5em
  display: inline-block
  text-decoration: none
  font-weight: 500
  font-size: 1em
  -webkit-appearance: none
  border: none
  cursor: pointer

  &:hover
     color darken(#fff, 20%)

p 
  font-family: 'Source Sans Pro', sans-serif
  font-size: 1.3em

h2.large--text {
  font-family: 'Cormorant Garamond', serif
  font-size: calc(2.16vw + 1rem)
  line-height: 1.2992
  font-style: normal
  font-weight: 500
  letter-spacing: 0em
  border-bottom:none
}
.content-wrapper
  width: 50%

#header
  box-shadow: none
  .nav-item a
    font-family: 'Source Sans Pro', sans-serif